.home-container {
  padding: 12px;
  font-family: Arial, sans-serif;
}

/* SEARCH */
.search-bar input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* CATEGORY */
.category-list {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  margin: 12px 0;
}

.category-list button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  background: #eee;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.category-list button.active {
  background: #000;
  color: #fff;
}

/* PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.product-card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.product-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.product-info {
  padding: 8px;
}

.product-info h3 {
  font-size: 14px;
  margin: 0;
}

.desc {
  font-size: 12px;
  color: #666;
  height: 32px;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.price {
  font-weight: bold;
}

.footer button {
  background: #0a7cff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* LOADING & EMPTY */
.loading,
.empty {
  text-align: center;
  margin-top: 30px;
  color: #777;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #e9f2ff;
  border-radius: 6px;
  padding: 2px 6px;
}

.qty-box button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: #0a7cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.qty-box span {
  font-size: 14px;
  min-width: 14px;
  text-align: center;
}


.active-order-banner {
  background: #fff3e0;
  border-left: 4px solid #ff9800;
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.active-order-banner .title {
  font-size: 14px;
  font-weight: bold;
}

.active-order-banner .sub {
  font-size: 12px;
  color: #555;
}

.active-order-banner .right {
  font-size: 14px;
  font-weight: bold;
  color: #ff5722;
}
