<div class="checkout-container">
  <h2>Checkout</h2>

  <!-- ORDER SUMMARY -->
  <div class="summary">
    <span>Total Amount</span>
    <strong>₹{{ netTotal }}</strong>
  </div>

  <form (ngSubmit)="submit()" [formGroup]="form">

    <label>
      Name*
      <input formControlName="customerName" placeholder="Your name" type="text"/>
    </label>

    <label>
      Phone*
      <input
        formControlName="phone"
        inputmode="numeric"
        maxlength="10"
        placeholder="Enter 10-digit mobile number"
        type="tel"
      />
    </label>

    <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
      <small *ngIf="form.get('phone')?.errors?.['required']">
        Phone number is required
      </small>
      <small *ngIf="form.get('phone')?.errors?.['pattern']">
        Enter a valid 10-digit Indian mobile number
      </small>
    </div>
    <label>
      Address*
      <textarea
        formControlName="address"
        placeholder="Select location from map or type manually"
        rows="3"
      ></textarea>
    </label>

    <div class="map-wrapper">
      <div id="map"></div>
    </div>

    <small style="color:#666; margin-top:6px;">
      Tap on map to select delivery location
    </small>

    <button
      (click)="useCurrentLocation()"
      class="location-btn"
      type="button"
    >
      📍 Use Current Location
    </button>

    <button [disabled]="loading || form.invalid" type="submit">
      {{ loading ? 'Placing Order...' : 'Confirm Order' }}
    </button>

  </form>
</div>
