.checkout-container {
  padding: 12px;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 12px;
}

.summary {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #f6f6f6;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input,
textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 12px;
  padding: 12px;
  font-size: 16px;
  background: #0a7cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

.map-wrapper {
  width: 100%;
  height: 300px; /* FIXED HEIGHT */
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* Leaflet internal fix */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  touch-action: none;
}


.location-btn {
  margin-top: 12px;
  padding: 12px;
  font-size: 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

